<div class='global-container'>
	<common-header title='BUG列表' />

	<div class='global-table-container'>

		<div class="table-scroll global-scroll">
			<div class="table-wrapper">
				<nz-table #basicTable [nzData]='tableData' nzShowPagination='false' [nzPageSize]="query.pageSize">
					<thead>
						<tr>
							<th *ngFor="let col of columns" [nzWidth]="col.width || '150px'" nzAlign="center">
								{{col.name}}
							</th>
							<th nzWidth="150px" nzAlign="center">
								提交时间
							</th>
						</tr>
					</thead>
					<tbody>
						<tr *ngFor='let data of basicTable.data'>
							<td *ngFor="let col of columns" nzAlign="center">{{data[col.code]}}</td>
							<td nzAlign="center">{{data.createTime | DatePipe}}</td>
						</tr>
					</tbody>
				</nz-table>
			</div>
		</div>

		<div class="page">
			<nz-pagination [nzPageIndex]="query.pageNumber" [nzTotal]="total" nzShowQuickJumper nzShowSizeChanger
				(nzPageSizeChange)="sizeChange($event,'size')" (nzPageIndexChange)="sizeChange($event,'index')">
			</nz-pagination>
		</div>
	</div>
</div>