<div class='global-container'>
	<common-header title='物流订单列表'/>
	<div class='global-table-container'>
		<button
			nz-button
			nzType='primary'
			class='global-add-btn'
			(click)="record()"
		>
			录入
		</button>

		<div class="table-scroll global-scroll">
			<div class="table-wrapper">
				<nz-table #basicTable [nzData]='tableData' nzShowPagination='false' [nzPageSize]="query.pageSize">
					<thead>
					<tr>
						<th nzWidth="200px" nzAlign="center">订单号</th>
						<th nzWidth="180px" nzAlign="center">订单创建时间</th>
						<th nzWidth="180px" nzAlign="center">订单付款时间</th>
						<th nzWidth="180px" nzAlign="center">商品编码</th>
						<th nzWidth="180px" nzAlign="center">商品名称</th>
						<th nzWidth="100px" nzAlign="center">购买数量</th>
						<th nzWidth="150px" nzAlign="center">买家实际支付金额</th>
						<th nzWidth="120px" nzAlign="center">订单金额</th>
						<th nzWidth="120px" nzAlign="center">支付单号</th>
						<th nzWidth="120px" nzAlign="center">订单状态</th>
						<th nzWidth="120px" nzAlign="center">退款金额</th>
						<th nzWidth="120px" nzAlign="center">运送方式</th>
						<th nzWidth="120px" nzAlign="center">物流公司</th>
						<th nzWidth="120px" nzAlign="center">物流单号</th>
						<th nzWidth="180px" nzAlign="center">确认收货时间</th>
						<th nzWidth="120px" nzAlign="center">到账时间</th>
						<th nzWidth="120px" nzAlign="center">到账金额</th>
						<th nzWidth="120px" nzAlign="center">商家备注</th>
						<th nzWidth="120px" nzAlign="center">销售平台</th>
						<th nzWidth="120px" nzAlign="center">店铺名称</th>
					</tr>
					</thead>
					<tbody>
					<tr *ngFor='let data of basicTable.data'>
						<td>{{ data.orderNo }}</td>
						<td>{{ data.orderCreateDate | DatePipe }}</td>
						<td>{{ data.orderPayDate | DatePipe}}</td>
						<td>{{ data.sku }}</td>
						<td>{{ data.name }}</td>
						<td>{{ data.count }}</td>
						<td>{{ data.payNo }}</td>
						<td>{{ data.payAmount }}</td>
						<td>{{ data.orderAmount }}</td>
						<td>{{ data.orderState }}</td>
						<td>{{ data.refund }}</td>
						<td>{{ data.deliveryType }}</td>
						<td>{{ data.deliveryCompany }}</td>
						<td>{{ data.deliveryNo }}</td>
						<td>{{ data.deliveryConfirmDate }}</td>
						<td>{{ data.arriveDate }}</td>
						<td>{{ data.arriveAmount }}</td>
						<td>{{ data.remark }}</td>
						<td>{{ data.plat }}</td>
						<td>{{ data.store }}</td>
					</tr>
					</tbody>
				</nz-table>
			</div>
		</div>

		<div class="page">
			<nz-pagination [nzPageIndex]="query.pageNumber"
			               [nzTotal]="total"
			               nzShowQuickJumper
			               nzShowSizeChanger
			               (nzPageSizeChange)="sizeChange($event,'size')"
			               (nzPageIndexChange)="sizeChange($event,'index')"
			>

			</nz-pagination>
		</div>
	</div>
</div>

<nz-modal
	[(nzVisible)]='modal'
	[nzTitle]='modalTitle'
	[nzContent]='modalContent'
	[nzFooter]='modalFooter'
	(nzOnCancel)='modal = false'
>
	<ng-template #modalTitle>新增/编辑</ng-template>
	<ng-template #modalContent>
		<div class='global-form'>
			<form nz-form [formGroup]='form'>
				<nz-form-item>
					<nz-form-label [nzSpan]="5" nzFor="plat" nzRequired>平台</nz-form-label>
					<nz-form-control [nzSpan]="12" nzErrorTip="Please select your gender!">
						<nz-select
							formControlName="plat"
							nzPlaceHolder="请选择平台"
							(ngModelChange)="platChange($event)"
						>
							<nz-option *ngFor="let item of platEnums" [nzLabel]="item.name" [nzValue]="item.value"/>
						</nz-select>
					</nz-form-control>
				</nz-form-item>
				<nz-form-item>
					<nz-form-label [nzSpan]="5" nzFor="shop" nzRequired>店铺</nz-form-label>
					<nz-form-control [nzSpan]="12" nzErrorTip="Please select your gender!">
						<nz-select
							formControlName="shop"
							nzPlaceHolder="请选择店铺"
						>
							<nz-option *ngFor="let item of shopEnums" [nzLabel]="item.name" [nzValue]="item.value"/>
						</nz-select>
					</nz-form-control>
				</nz-form-item>
				<nz-form-item>
					<nz-form-label [nzSpan]="5" nzFor="shop" nzRequired>订单EXCEL</nz-form-label>
					<nz-form-control [nzSpan]="12" nzErrorTip="Please select your gender!">
						<div class="input-wrapper">
							<span>{{ file.file1 }}</span>
							<input type="file" (change)="fileChange($event,'file1')">
						</div>
					</nz-form-control>
				</nz-form-item>
				<nz-form-item>
					<nz-form-label [nzSpan]="5" nzFor="shop" nzRequired>收款EXCEL</nz-form-label>
					<nz-form-control [nzSpan]="12" nzErrorTip="Please select your gender!">
						<div class="input-wrapper">
							<span>{{ file.file2 }}</span>
							<input type="file" (change)="fileChange($event,'file2')">
						</div>
					</nz-form-control>
				</nz-form-item>
			</form>
		</div>
	</ng-template>

	<ng-template #modalFooter>
		<button (click)="submit()" nz-button nzType="primary" [nzLoading]='loading'>新增</button>
		<button (click)="modal=false" nz-button nzType="default">关闭</button>
	</ng-template>
</nz-modal>
